body {
    background-color: rgba(39, 52, 92);
}

.container {
    min-height: 100vh;
    background-color: rgba(39, 52, 92);
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: rgba(39, 52, 92, 0.1);
}

.right {
    background-color: rgba(57, 197, 166, 0.2);
}

.wrong {
    background-color: rgba(239, 40, 40, 0.2);
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

button:hover {
    cursor: pointer;
}